Options -MultiViews
RewriteEngine On
RewriteBase /

# Если запрошен существующий файл или директория — отдаем как есть
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Все остальные URL перенаправляем в SPA entrypoint
RewriteRule ^ index.html [L]
